body {
    margin: 0;
    font-family: Georgia, serif;
}

.navbar {
    background-color: #FF0000;
    color: white;
    font-family: Georgia, serif;
    padding: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    font-family: "Courier New", monospace;
    font-weight: bold;
    margin-right: 20px;
}

.navbar a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

.search-bar {
    width: 20px;
    height: 20px;
    background: url('search-icon.png') no-repeat;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.box {
    width: 200px;
    padding: 20px;
    border: 1px solid #B0B0B0;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 10px; /* Make box edges smooth and round */
    margin: 10px;
}

footer {
    background-color: #FF0000;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
